@font-face {
  font-family: 'fontmu';
  src: url('fonts/mcbook/matchbook-webfont.woff2') format('woff2'),
    url('fonts/mcbook/matchbook-webfont.woff') format('woff');
}
@font-face {
  font-family: 'fontnya';
  src: url('fonts/quicksand-bold-webfont.woff2') format('woff2'),
    url('fonts/quicksand-bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'fontku';
  src: url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
    url('fonts/quicksand-regular-webfont.woff') format('woff');
}
* {
  padding: 0;
  margin: 0;
}
body {
  color: #333;
  font-size: 20px;
  font-family: 'Vt323', 'Arial-Narrow', arial, sans-serif;
}
header {
  height: 65px;
  position: sticky;
  top: 0;
  background-color: rgb(0, 115, 198);
  z-index: 99;
  margin: auto;
  display: flex;
}
header h1 a {
  display: inline-block;
  padding: 15px 0 15px 80px;
  text-transform: capitalize;
  color: #ddd;
  transition: 0.3s;
  font-family: 'Press Start 2P';
  letter-spacing: 2px;
  text-shadow: 5px 0 1px rgba(0, 115, 130, 0.9);
  line-height: 32.5px;
  font-size: 0.9em;
  animation: scaleInfinity 30s ease-in-out infinite alternate;
  position: absolute;
}
header h1 a:hover {
  color: #002d4e;
}
header ul {
  float: right;
  display: flex;
  padding-right: 80px;
}
header ul li {
  padding: 20px;
  display: inline-block;
}
header ul li a {
  transition: 0.3s;
  color: #ddd;
  font-family: 'press start 2p';
  letter-spacing: 0.8px;
  font-size: 0.6em;
  line-height: 25px;
}
header ul li .active,
header ul li .btn:hover {
  color: #002d4e;
}
a {
  text-decoration: none;
}
.container {
  width: 90vw;
  margin: 0 auto;
}
.container::after {
  content: '';
  display: block;
  clear: both;
}
header .menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  margin: auto 20px;
}
header .menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
header .menu-toggle span {
  display: block;
  background-color: #ddd;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  transition: 0.3s;
}
/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #ddd;
  animation: rotate1 2s;
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #ddd;
  animation: rotate2 2s;
}
.menu-toggle input:checked ~ span:nth-child(3) {
  background-color: #ddd;
  animation: rotate3 2s;
}

/* .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 35vw;
  height: 50vh;
  background-color: rgba(240, 240, 233, 1);
  transition: 0.3s;
  font-size: large;
  z-index: 9999;
  display: none;
  border-radius: 3px;
}
.sidebar li .side {
  color: #00273b;
}
.sidebar ul li {
  padding: 24px;
  transition: 0.3s;
}
.sidebar li .aktif,
.sidebar li .side:hover {
  color: #0099e7;
}
#check:checked ~ .sidebar {
  left: 0;
} */
.banner {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #000014;
  padding: 150px 0;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 41vh;
}
.banner .banner-ring {
  position: relative;
  border: 4px solid transparent;
  height: 200px;
  width: 200px;
  margin: -30px;
  border-radius: 50%;
  z-index: 99999;
  /* border-top: 4px solid #24ecff; */
  /* animation: ringinfinited 4s linear infinite; */
}
.banner .banner-ring:nth-child(1) {
  animation: ringinfinited 4s linear infinite;
  /* border-left: 4px solid #93ff2d; */
  border-top: 4px solid transparent;
  top: -10px;
  left: 7%;
}

.banner .banner-ring:nth-child(1):before {
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: #24ecff;
  box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 16px #24ecff11,
    0 0 20px #24ecff, 0 0 20px #24ecff;
}
.banner .banner-ring:nth-child(2) {
  animation: ringinfinited 4s linear infinite alternate-reverse;
  /* border-left: 4px solid #93ff2d; */
  border-top: 4px solid transparent;
  animation-delay: -1s;
  top: -100px;
  left: 30%;
}
.banner .banner-ring:nth-child(2):before {
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: #e41cf8;
  box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822, 0 0 0 16px #e41cf811,
    0 0 20px #e41cf8, 0 0 50px #e41cf8;
}
.banner .banner-ring:nth-child(3) {
  position: absolute;
  top: -50px;
  left: 26%;
  /* animation: ringinfinited 4s -3s linear infinite; */
  border-top: 4px solid transparent;
  /* border-left: 4px solid #e41cf8; */
}
.banner .banner-ring:nth-child(3):before {
  animation: kedip1 0.3s linear infinite;
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #93ff2d;
  box-shadow: 0 0 0 1px #93ff2d33, 0 0 0 2px #93ff2d22, 0 0 0 4px #93ff2d11,
    0 0 50px #93ff2d, 0 0 50px #93ff2d;
}
.banner .banner-ring:nth-child(5) {
  /* border-left: 4px solid #93ff2d; */
  border-top: 4px solid transparent;
  animation-delay: -1s;
  top: 130px;
  left: 5%;
}
.banner .banner-ring:nth-child(5):before {
  animation: kedip 0.5s linear infinite;
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #93ff2d;
  box-shadow: 0 0 0 1.6px #93ff2d33, 0 0 0 3.2px #93ff2d22, 0 0 0 6px #93ff2d11,
    0 0 50px #93ff2d, 0 0 50px #93ff2d;
  z-index: -999999;
}
.banner .banner-ring:nth-child(4) {
  animation: ringinfinited 4s linear infinite;
  /* border-left: 4px solid #93ff2d; */
  border-top: 4px solid transparent;
  animation-delay: -1s;
  top: 200px;
  right: 19%;
}
.banner .banner-ring:nth-child(4):before {
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #e41cf8;
  box-shadow: 0 0 0 2.3px #e41cf833, 0 0 0 4.7px #e41cf822, 0 0 0 8px #e41cf822,
    0 0 20px #e41cf8, 0 0 50px #e41cf8;
}
.banner .banner-ring:nth-child(6) {
  position: absolute;
  bottom: 80px;
  right: 52%;
  animation: ringinfinited 4s -3s linear infinite;
  border-top: 4px solid transparent;
  /* border-left: 4px solid #e41cf8; */
}
.banner .banner-ring:nth-child(6):before {
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e41cf8;
  box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822, 0 0 0 16px #e41cf811,
    0 0 20px #e41cf8, 0 0 50px #e41cf8;
}
.banner .banner-ring:nth-child(7) {
  position: absolute;
  bottom: 80px;
  right: 25%;
  animation: ringinfinited 4s -3s linear infinite alternate-reverse;
  border-top: 4px solid transparent;
  /* border-left: 4px solid #e41cf8; */
}
.banner .banner-ring:nth-child(7):before {
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #24ecff;
  box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 16px #24ecff11,
    0 0 20px #24ecff, 0 0 20px #24ecff;
}
.banner .banner-ring:nth-child(8) {
  animation: ringinfinited 4s linear infinite alternate;
  /* border-left: 4px solid #93ff2d; */
  border-top: 4px solid transparent;
  animation-delay: -1s;
  top: 250px;
  right: 25%;
}
.banner .banner-ring:nth-child(8):before {
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #24ecff;
  box-shadow: 0 0 0 3px #24ecff33, 0 0 0 6px #24ecff22, 0 0 0 10px #24ecff11,
    0 0 20px #24ecff, 0 0 50px #24ecff;
}
.banner .banner-ring:nth-child(9) {
  animation: ringinfinited 4s linear infinite alternate;
  /* border-left: 4px solid #93ff2d; */
  border-top: 4px solid transparent;
  animation-delay: -1s;
  top: -100px;
  right: -3%;
}
.banner .banner-ring:nth-child(9):before {
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: #93ff2d;
  box-shadow: 0 0 0 3.4px #93ff2d33, 0 0 0 6.8px #93ff2d22, 0 0 0 11px #93ff2d11,
    0 0 20px #93ff2d, 0 0 50px #93ff2d;
}
.banner .banner-ring:nth-child(10) {
  /* animation: ringinfinited 4s linear infinite; */
  /* border-left: 4px solid #93ff2d; */
  border-top: 4px solid transparent;
  top: 0;
  left: 6%;
}
.banner .banner-ring:nth-child(10):before {
  animation: kedip2 0.5s linear infinite;
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #24ecff;
  box-shadow: 0 0 0 2.3px #24ecff33, 0 0 0 4.7px #24ecff22, 0 0 0 8px #24ecff11;
}
.banner .banner-ring:nth-child(11) {
  animation: ringinfinited 4s linear infinite;
  /* border-left: 4px solid #93ff2d; */
  border-top: 4px solid transparent;
  animation-delay: -1s;
  top: 200px;
  right: 5%;
}
.banner .banner-ring:nth-child(11):before {
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e41cf8;
  box-shadow: 0 0 0 3.3px #e41cf833, 0 0 0 6.8px #e41cf833, 0 0 0 11px #e41cf811,
    0 0 20px #e41cf8, 0 0 50px #e41cf8;
}
/* .banner .banner-ring:nth-child(12) {
  animation: ringinfinited 4s linear infinite alternate;
  /* border-left: 4px solid #93ff2d; */
/* border-top: 4px solid transparent;
  animation-delay: -1s;
  right: -120px;
} */
/* .banner .banner-ring:nth-child(12):before {
  content: '';
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e41cf8;
  box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822, 0 0 0 20px #e41cf811,
    0 0 20px #e41cf8, 0 0 50px #e41cf8;
} */
section {
  padding: 50px 0;
}
.banner .container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
}
.banner img {
  position: absolute;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 3px 5px #ddd;
}
.banner h2,
.banner p,
.banner span {
  position: relative;
  color: #fff;
  font-family: 'press start 2p';
  font-size: 18px;
  line-height: 35px;
}
.banner h2,
.banner p {
  margin: 10px 130px;
}
.banner p {
  font-size: 18px;
}
.banner-left {
  padding-left: 24px;
}
section h3 {
  padding-bottom: 20px;
  text-align: center;
  margin: 20px;
  position: relative;
  font-family: 'press start 2p';
  font-size: medium;
}
section h3:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 1px;
  background-color: #ddd;
  left: calc(50% - 60px);
}
section h3:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 40px;
  height: 4px;
  background-color: #002d4e;
  left: calc(50% - 20px);
}
#about p {
  text-align: justify;
  text-indent: 30px;
  line-height: 25px;
  margin: 15px auto;
}
#about p mark {
  background-color: #c5312d;
  color: #f9f9f9;
}
#about ol {
  line-height: 25px;
  margin: 15px auto;
}

#about ol li {
  margin: auto 30px;
}

#about p::first-letter {
  color: #c5312d;
  font-size: x-large;
}
#contact a:hover p {
  color: #0099e7;
}
#skills,
#contact {
  background-color: #f9f9f9;
  border-top: #002d4e 30px solid;
  box-sizing: border-box;
  border-top-right-radius: 70px;
  box-shadow: 0 0px 3px rgb(255, 255, 255);
}
#skills .bar {
  height: 30px;
  background-color: #fff;
  border: 1px solid #f9f9f9;
  margin: 5px 0 20px 0;
  border-radius: 30px;
}
.bar .nilai {
  height: 30px;
  background-color: #0099e7;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  font-family: 'press start 2p';
  font-size: 15px;
  line-height: 33px;
}
.css {
  width: 90%;
}
.js {
  width: 85%;
}

.col-4 {
  width: 25%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  margin: 45px 45px;
}
.col-4 img {
  width: 100%;
  border: 7px solid #ddd;
  border-radius: 10px;
}
.col-4 a:hover img {
  transform: scale(1.2);
}
#contact .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
#portfolio .container,
#about .container {
  /* background-color: rgba(238, 238, 238, 0.034); */
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
}
.col-3 {
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
  box-shadow: 2px 0 2px rgba(226, 225, 225, 0.7);
}
.col-3 h4 {
  display: inline;
  padding: 5px 0;
  border-bottom: 2px solid #444;
  margin-bottom: 15px;
}
.col-3 p {
  padding-top: 20px;
}
footer {
  background-color: #002d4e;
  padding: 30px;
  text-align: center;
}
footer small {
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
/* overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.8s;
  text-align: center;
  padding: 50px 0;
}
.overlay:target {
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: auto;
  height: auto;
}
.overlay img {
  height: 70vh;
  width: 50vw;
  margin-top: 30px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
.overlay .close {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -20px;
  color: #fff;
  text-decoration: none;
  background-color: #0073c6;
  line-height: 20px;
  padding: 5px;
  border: 1px solid #111;
  font-size: 0.8em;
  letter-spacing: 1.6px;
  text-align: center;
  border-radius: 2px;
  transition: 0.3s;
}
.overlay .close:hover {
  background-color: #fff;
  color: #0073c6;
  transform: scale(1.2);
}
.overlay:target .close {
  animation: slidedownFade 1s 3 alternate;
}
/* navigasi */

.next {
  color: #0073c6;
  position: absolute;
  font-size: 10em;
  top: 35vh;
  right: 5%;
  text-decoration: none;
  transition: 0.3s;
}
.next:hover {
  color: #fff;
}
.previous {
  color: #0073c6;
  position: absolute;
  font-size: 10em;
  top: 35vh;
  left: 5%;
  text-decoration: none;
  transition: 0.3s;
}
.previous:hover {
  color: #fff;
}
@keyframes slidedownFade {
  from {
    top: -10%;
  }
  to {
    top: 20px;
  }
}

@media (max-width: 768px) {
  header .menu-toggle {
    display: flex;
    z-index: 999;
  }
  header h1 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'press start 2p';
  }
  header ul {
    position: fixed;
    top: 0.9px;
    height: 320px;
    z-index: 1;
    background-color: rgba(240, 240, 233, 1);
    transition: 0.1s linear 0.3s;
    opacity: 0;
    transform: translateX(-100%);
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    border-radius: 3px;
  }
  header ul li a {
    color: #002d4e;
  }
  header ul li .active,
  header ul li .btn:hover {
    color: #0073c6;
  }

  header .slide {
    opacity: 1;
    position: absolute;
    transform: translateX(0);
  }
  .col-4 {
    width: 80%;
  }
  .col-3 {
    width: 100%;
  }
  #contact .container {
    grid-template-columns: 1fr;
  }
  .banner h2,
  .banner p,
  .banner span {
    font-size: 15px;
  }
  .banner h2,
  .banner p {
    margin: 0 130px;
  }
}
@keyframes rotate1 {
  from {
    transform: rotate(45deg) translate(-1px, -1px);
  }
  to {
    transform: rotate(0deg) translate(0, 0);
  }
}
@keyframes rotate2 {
  from {
    transform: rotate(-45deg) translate(-1px, 0);
  }
  to {
    transform: rotate(0deg) translate(0, 0);
  }
}
@keyframes rotate3 {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* @keyframes scaleInfinity {
  from {
    transform: scale(1);

    color: #ddd;
  }
  to {
    transform: scale(1.5);
    color: #002d4e;
  }
} */
@keyframes ringinfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes ringinfinited {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes kedip {
  from {
    box-shadow: 0 0 0 1.6px #93ff2d22, 0 0 0 3.2px #93ff2d11,
      0 0 0 6px #93ff2d00, 0 0 50px #93ff2d, 0 0 50px #93ff2d;
  }
  to {
    box-shadow: 0 0 0 1.6px #93ff2d33, 0 0 0 3.2px #93ff2d22,
      0 0 0 6px #93ff2d11, 0 0 50px #93ff2d, 0 0 50px #93ff2d;
  }
}
@keyframes kedip1 {
  from {
    box-shadow: 0 0 0 1px #93ff2d22, 0 0 0 2px #93ff2d11, 0 0 0 4px #93ff2d00,
      0 0 50px #93ff2d, 0 0 50px #93ff2d;
  }
  to {
    box-shadow: 0 0 0 1px #93ff2d33, 0 0 0 2px #93ff2d22, 0 0 0 4px #93ff2d11,
      0 0 50px #93ff2d, 0 0 50px #93ff2d;
  }
}
@keyframes kedip2 {
  from {
    box-shadow: 0 0 0 2.3px #24ecff22, 0 0 0 4.7px #24ecff11,
      0 0 0 8px #24ecff00;
  }
  to {
    box-shadow: 0 0 0 2.3px #24ecff33, 0 0 0 4.7px #24ecff22,
      0 0 0 8px #24ecff11;
  }
}
